body {
    background-color: #121212; 
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    flex-direction: row;

    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.text {
    color: white;
    max-width: 100%;
}
